html{
    background-color: rgb(28, 80, 148);
}

*{
    border: solid 1px whitesmoke;
}

main{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.titulo h1{
    color: white;
    font-family: "Anton", sans-serif;
    font-size: 7rem;
}

.nav a{
    color: rgb(255, 255, 255);
    font-family: "Anton", sans-serif;
    font-size: 2rem;   
}

.nav a{
    color: rgb(255, 255, 255);
}