*{
   font-family: 'Martel', serif;
   font-weight: 800;
  /* border: 1px solid red;*/
   padding: 2px;
   margin: 0;
   color: rgb(0, 0, 0); /*cambia el color de todo el texto*/
   text-align: center;
}

body{
    background-color: rgb(0, 0, 0);
}

main{
    display: flex; 
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 3rem; /*separa el main de los otros elementos como la lista*/
}

li a{
	margin-block: 0.5rem;
	display: inline-block;
	text-decoration: none;
	background-color: rgb(245, 190, 38);
	padding-inline: 3rem;
	padding-block: 0.7rem;
	border-radius: 30px;
	border: solid 3px rgb(190, 126, 16);
	transition: all .3s ease-in-out;

}

li a:hover{
	background-color: rgb(38, 183, 245);
	border: solid 3px rgba(21, 60, 255, 0.716);
	transform: scale(1.3) rotate(2deg);

    /* brillo al pasar el mouse */
	box-shadow:
		0 0 10px rgba(38, 183, 245, 0.9),
		0 0 24px rgba(38, 183, 245, 0.7),
		0 0 40px rgba(38, 183, 245, 0.6);
}

ul{
	list-style-type: none;
}

.Play{
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 900;
    color:  rgb(245, 190, 38);
    font-size: 6rem;
   
}

.titulo h2{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-family: 'Khand', sans-serif;
}

.titulo p{
    color:rgb(255, 255, 255);
    font-size: 1.1rem;
    padding-inline: 4rem;
    font-family: 'Martel', serif;
    font-weight: 300;
}


